{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h3 class="fw-bolder mb-1">{{article.title}}</h3>
                    <!-- Author-->
                    <p class="lead">
                        {{article.author.username}}
                    </p>
                    <hr>
                    <!-- Date/Time-->
                    <p>{{article.created_date}}</p>
                    <hr>
                    
                    
                <!-- Preview image figure
                <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900xced4da/6c757d.jpg" alt="..." /></figure>-->
                <!-- Post content-->
                <p class="lead">
                    {{article.content}}
                </p>
                <hr>
            </article>
           
                    </div>
                </div>
            </section>
        </div>
        
           
            
        </div>
    </div>
</div>





{% endblock body %}